# Prerequisites
*.d

#text files 
*.txt
LogFile_TRUTH.txt
*.cvs

# file system getting stuck for a while when you try to delete a file.
*.nfs*

#pdf shouldn't be commited 
*.pdf

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.appeinclude "../includes/common_functions.h"

# figures 
*.png

#root files 
*.root
ExtractHeliumCrossSectionHists_FullStats
ExtractHelium_2D_CrossSectionHists_FullStats
ExtractMasterAnaDevCrossSectionHists_FullStats
ExtractMasterAnaDevCrossSectionHists_FullStats_Daisy
PLOTS__CrossSection_FullStats
plotMultiNeutronFromNUISSANCE.py
DansVersion_MakeHistFromNuISSance.py
Test.py
flux_calculation.py
flux_calculation_2D.py
flux_calculation_rebinTracker.py
flux_prism_2d.py
playlists/MC_Playlist/xrootdfy.sh
ExtractHeliumHist_TransWarp
tryToRead

#EventSelection
Helium_runEventLoopForDATA
Helium_runEventLoopForDATA_SmearingStudy
#scriptholder directories 

eventselection/scriptholder/
Make_CrossSection/scriptholder/
Make_Plots/scriptholder/
Make_Plots/log_valgrind
includes/scriptholder/

Helium_runEventLoop_ShiftZRStudy
Helium_runEventLoopForDATA_ShiftZRStudy
Helium_runEventLoop_Shift_ConvolutionStudy
Helium_runEventLoop_Shift_ConvolutionStudyXY
Helium_runEventLoop_Shift_ConvolutionStudyZ
Helium_runEventLoop_SideBand
Helium_runEventLoop_TransWarpStudies
Helium2D_runEventLoop_noGroups
Helium2D_runEventLoop_noGroups_TransWarp
Helium2D_runTRUTHLoop_FLUX
MasterAna_Dasiy_runEventLoop_TransWarpStudies
MasterAnn_2D_runTRUTHLoop
MasterAnn_2D_runTRUTHLoop_Flux
MasterAnn_runEventLoopForDATA
MasterAnn_runEventLoop_noGroups
Make_2DCrossSection_Plots_FullStats
Make_ClosurePlots
Make_CrossSection_Plots_FullStats
Make_CrossSection_Plots_FullStats_RATIOs
Make_Flux_Tracker_fits
Make_Flux_fits
CryoTankVertexOffSetStudy_FullStats
eventselection2D/scriptholder/
fits/script_holder
CryoTank_convolution_withShifts
CryoTank_convolution_withShiftsAndReWgts
CryoTank_convolution_withShifts_Empty
CryoTank_convolution_withShifts_Full
CryoTank_convolution_withShifts_XY
CryoTank_convolution_withShifts_XY_Empty
CryoTank_convolution_withShifts_XY_Full
CryoTank_convolution_withShifts_XY_Plots
CryoTank_convolution_withShifts_Z_Plots
CryoTank_EmptyHelium_Fit
CryoTank_EmptyHelium_Fit_Nregions
CryoTank_EmptyHelium_Fit_withShifts
CryoTank_EmptyHelium_Fit_withXYShiftspwd
CCQENu/
NukeCC_Cuts.cpp
NukeCC_Cuts.hh
MasterAnaCVUniverse.cpp
MasterAnaCVUniverse.hh
MasterAna_CCQE_CVFunctions.h
HeliumTransWrap/scriptholder/
MasterAnaDev.cpp
Chisqrt_fit_results
CryoTank_EmptyHelium_Fit_withXYShifts

#EventSelection
Helium_runEventLoopForDATA
Helium_runEventLoopForDATA_SmearingStudy
Helium_runEventLoop_EfficiencyStudy
Helium_runEventLoop_SmearingStudy
Helium_runTRUTHLoop
Helium_runTRUTHLoop_EfficiencyStudy
Helium_runTRUTHLoop_NXLE_Validation
Helium_runTRUTHLoop_SmearingStudy
Helium_runEventLoop
#EventSelection2D
Helium2D_runTRUTHLoop
Helium2D_runEventLoopForDATA
Helium2D_runEventLoop
#Make_Plots 
EfficiencyPlots
NonMuonKinematicPlots_FullStats
VetoWall_Plots
TRUE_KinematicPlots_FullStats
EfficiencyPlots_FullStats
VetoWall_Plots_FullStats
CryoTankVertexPlots
KinematicPlots
Smearing_Study
NonMuonKinematicPlots
CryoTankVertexPlots_FullStats
KinematicPlots_FullStats
Smearing_Study_FullStats
TRUE_KinematicPlots
#Make_2DPlots
Efficiency2DPlots
CryoTankVertex2DPlots
NonMuonKinematic2DPlots
Kinematic2DPlots
#Make_Arachne
Make_Arachne_links
#Make_crossSection 
Extract2DHeliumCrossSectionHists
ExtractHeliumCrossSectionHists      
ExtractHeliumCrossSectionHists
Make_CrossSection_Plots
#fits 
CryoTank_EmptyHelium_Fit
